.toggle-switch-container {
  .toggleSwitch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
  }

  // Hide default HTML checkbox
  .toggleSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  // The visible slider container
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; // TODO: Slider Background Color
    transition: 0.4s;
  }

  // The rounded toggle button in the container
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    background-color: white;
    transform: translate(15%, -50%);
    top: 50%;
    transition: 0.4s;
    border-radius: 50%;
  }

  .slider.round {
    border-radius: 32px;
  }

  // Move Toggle
  .checked:before {
    transform: translate(calc(100% + 12px), -50%);
    background-color: #2196f3; //TODO: Color when switch is checked
  }
}
